<!DOCTYPE html>
<html>
<center>

    <link rel="stylesheet" href="../public/styles.css">
    <title>Puppies!</title>


  <div id="banner">
  <a1 onclick="location.href='../index.html'">HOME</a1>
  <a1 id="current" onclick="location.href='dogs.html'">DOGS</a1>
  <a1 onclick="location.href='misc.html'">MISC</a1>
</div>

  <body>
      <div id="sqd">

        <table>
          <tr>
            <th>Breed & Name</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><center>Cosmo
            <img src="../public/images/sheltie.jpg" style="height:400px;width:400px;"/></td>
            <td>The small, active Shetland Sheepdog (nicknamed the Sheltie) was once a Scottish farmer's best friend: sounding the alarm when anyone approached the property, barking at birds and other animals to shoo them from the garden, and later, with crosses to Scottish herding dogs, keeping the sheep flocks in line. While at first glance they look like a smaller version of the Rough Collie, the two are distinctly different breeds.
              <br><br>
              Shelties are loving companions for all members of the family, including the kids, but they can be reserved or even shy around strangers. Because of their protective nature, they're quick to bark if they sense that anything's amiss in their territory. Training is essential to keep this trait from becoming a nuisance. On the upside, they make excellent watchdogs. You just have to teach them some discrimination.
        </td>
          </tr>
          <tr>
            <td><center>Iceman
            <img src="../public/images/blacklab.jpg" style="height:400px;width:400px;"/></td>
            <td>The warm and intelligent Lab is America's number one breed registered with the American Kennel Club. Even non-dog people can recognize a Lab, and artists and photographers have captured his image countless times — usually as the loyal companion, waiting patiently by his owner's side.
              <br><br>
              Built for sport, the Lab is muscular and athletic. He has a short, easy-care coat, friendly demeanor, keen intelligence, and plenty of energy. Devotion to this breed runs deep; Labs are loving, people-oriented dogs who live to serve their families, and owners and fans sometimes liken their Labs to angels.
          </td>
          </tr>
          <tr>
            <td><center>Goose
            <img src="../public/images/goldlab.jpg" style="height:400px;width:400px;"/></td>
            <td>The warm and intelligent Lab is America's number one breed registered with the American Kennel Club. Even non-dog people can recognize a Lab, and artists and photographers have captured his image countless times — usually as the loyal companion, waiting patiently by his owner's side.
              <br><br>
              Built for sport, the Lab is muscular and athletic. He has a short, easy-care coat, friendly demeanor, keen intelligence, and plenty of energy. Devotion to this breed runs deep; Labs are loving, people-oriented dogs who live to serve their families, and owners and fans sometimes liken their Labs to angels.
          </td>
          </tr>
          <tr>
            <td><center>Sasha
            <img src="../public/images/whitelab.jpg" style="height:400px;width:400px;"/></td>
            <td>The warm and intelligent Lab is America's number one breed registered with the American Kennel Club. Even non-dog people can recognize a Lab, and artists and photographers have captured his image countless times — usually as the loyal companion, waiting patiently by his owner's side.
              <br><br>
              Built for sport, the Lab is muscular and athletic. He has a short, easy-care coat, friendly demeanor, keen intelligence, and plenty of energy. Devotion to this breed runs deep; Labs are loving, people-oriented dogs who live to serve their families, and owners and fans sometimes liken their Labs to angels.
          </td>
          </tr>

        </table>

</div>
  </body>

</center>
  <div class="footer"></div>
</html>
